@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  white-space: nowrap;
  animation: infinite-scroll 10s linear infinite;
  will-change: transform;
} */

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroll_inner {
  width: max-content;
  flex-wrap: nowrap;
}
